/*:root{*/
/*    --blue-background: #cddeff;*/
/*    --text-info: #372f93;*/
/*}*/
/*.message-info {*/
/*    background-color: ();*/
/*    color: #6b6bb8;*/
/*}*/
/*you can use this root variable to declare colors you use often*/


body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Arial", Ubuntu, sans-serif;
}

.message-info {
    background-color: #cddeff;
    color: #6b6bb8;
}

.message-success {
    background-color: #cff3da;
    color: #51966a;
}

.message-warning {
    background-color: #fcfbc9;
    color: #bbb060;
}

.message-error {
    background-color: #fad3d7;
    color: #b05c6f;
}

.message {
    margin: 5px auto;
    border: #e4e4e4 solid .5px;
    padding: 3px 3px 3px 5px;
    width: 70%;
    border-radius: 5px;
}