main {
    display: inline-grid;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 2em;
}

div {
    /*display: grid;*/
    border: solid 3px black;
}

.blueTop {
    background-color: #2f447a;
    grid-area: 1 / 1 / 3 / 3;
}

.blueBottom {
    background-color: #2f447a;
    grid-area: 8 / 3 / 9 / 9;
}

.redTop {
    background-color: #dc1b21;
    grid-area: 1 / 3 / 4 / 9;
}

.redBottom {
    background-color: #dc1b21;
    grid-area: 8 / 1 / 9 / 3;
}

.yellowLeft {
    background-color: #fccb0b;
    grid-area: 3 / 1 / 6 / 3;
}

.yellowRight {
    background-color: #fccb0b;
    grid-area: 6 / 5 / 8 / 9;
}

.whiteHorizontal {
    background-color: white;
    grid-area: 4 / 5 / 6 / 9;
}

.whiteVertical {
    background-color: white;
    grid-area: 4 / 3 / 8 / 5;
}

.whiteSquare {
    background-color: white;
    grid-area: 6 / 1 / 8 / 3;
}
