/*.fancy-header li {*/
/*    color:purple;*/
/*}*/
/*  2. changed to blue so embedded stylesheet with class property must have precedence over style attribute
    4. embedded stylesheet had precedence over external stylesheet
    5. embedded stylesheet > style attribute > external stylesheet
 */

/*Selectors and Properties exercise Nov7*/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

h1 {
    font-size: 70px;
}

/*.centerheader {*/
/*    text-align: center;*/
/*}*/

h1, h2 {
    color:#29382c;
    text-decoration: underline;
}

hr {
    border: solid whitesmoke 3px;
}

ul, ol {
    display: table;
    margin: 0 auto;
    text-align: left;
}

body {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 55px;
    padding: 52px;
    color:#29382c;
    font-size: x-large;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#photos {
    align-items: center;
}

/*.succulents {*/
/*    height: auto;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/


html {
    background-image: url("../images/pexels-succulents.jpg");
    background-size: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: solid;
    border-color: #29382c;
}



