@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

:root{
    --text-purple: #624867;
}

html {
    background-image: url("../sideimages/pexels-wedding.jpg");
    background-size: 100% 100%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4.3em;
    box-sizing: border-box;
}

body {
    background-color: rgba(185, 184, 184, 0.57);
    margin: 10%;
    padding: 52px;
    color: var(--text-purple);
    text-align: center;
}

hr {
    border: solid var(--text-purple) 1px;
}

